* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.protsessor_section {
    background: radial-gradient(52.08% 133.33% at 50% 50%, #FFFFFF 0%, #C4C4C4 100%),
        radial-gradient(68.7% 68.7% at 50% 50%, #FFFFFF 0%, #C4C4C4 100%);
}

.protsessor_container {
    max-width: 1728px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 408px;
    padding-bottom: 408px;
    height: 1080px;
  }

.trust_title_4 {
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    background: linear-gradient(101.96deg, #000000 38.51%, #8B8B8B 91.31%);
    background: linear-gradient(101.96deg, #000000 38.51%, #8B8B8B 91.31%);
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    top: 154px;
    opacity: 0;
}

.trust_title_5 {
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    background: linear-gradient(101.96deg, #000000 38.51%, #8B8B8B 91.31%);
    background: linear-gradient(101.96deg, #000000 38.51%, #8B8B8B 91.31%);
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    top: 274px;
    opacity: 0;
}

.intel {
    display: block;
    position: absolute;
    left: -291px;
    bottom: 298px;
    transform: rotate(-45deg);
    opacity: 0;
    max-width: 438px;
}

.nvidia {
    display: block;
    position: absolute;
    right: -291px;
    bottom: 298px;
    transform: rotate(45deg);
    opacity: 0;
    max-width: 452px;
}

.intel_info {
    padding: 40px;
    background: linear-gradient(180deg, #BFBFBF 0%, #FFFFFF 50%, #D7D7D5 100%);
    border-radius: 64px;
    overflow: hidden;
    max-width: 610px;
    position: absolute;
    right: 210px;
    bottom: 311px;
    transform: scale(0);
    z-index: 30;
}

.intel_info_title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #00000080;
}

.intel_info_title>b {
    color: #000;
}

.info_title_span {
    display: block;
    position: relative;
    bottom: -20;
    opacity: 0;
}

.intel_info_title>b {
    color: #000;
}

.nvidia_title_span {
    display: block;
    position: relative;
    bottom: -10;
    line-height: 54px;
    opacity: 0;
}

.nvidia_info {
    padding: 75px 40px;
    background: linear-gradient(180deg, #BFBFBF 0%, #FFFFFF 50%, #D7D7D5 100%);
    border-radius: 64px;
    overflow: hidden;
    max-width: 492px;
    width: 100%;
    position: absolute;
    left: 330px;
    bottom: 330px;
    transform: scale(0);
    z-index: 30;
}

.trust_info_center_title {
    max-width: 532px;
    width: 100%;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #00000033;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    opacity: 0;
}

.trust_info_center_title>b {
    color: #000;
    display: block;
}

.trust_info_text {
    max-width: 254px;
    font-size: 32px;
    font-weight: 250;
    line-height: 43.2px;
    letter-spacing: 0.01em;
    color: #626262;
    position: absolute;
    top: 486px;
    left: 634px;
    transform: scale(0);
}

.trust_logo_box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 490px;
    right: 634px;
    transform: scale(0);
}
@media(max-width: 1680px){
    .protsessor_section{
        display: none;
    }
}

